FORMAT: 1A
HOST: https://dev01-resapi.rankgrouptech.net/

# RES.API.SAW - Draft

Rank Enterprise Services API is a collection of business services exposed over a RESTful inteface with HATEOAS constraints applied.

# Correlation Tokens

Correlation tokens are used for the tracking and debugging purposes. It is a string value,
which could represent GUID, unique message or transaction ID. The correlation token must
be supplied as `X-Correlation-Token` HTTP header to every request to RES API. It must be
unique for each request in scope of the same client. The correlation token's uniqueness
is guaranteed by the client.

# HATEOAS

This RESTful API has been design with HATEOAS (Hypermedia As The Engine Of Application State) constraint in mind.
A payload with a set of suggested links is returned as a part of each resource in the response, where it's possible.

In case an initial set of available links is required, a special `/journeys` endpoint has to be called.
Depending on the access token and parameters supplied, the endpoint will return the links available to the client.

For example:
```
    {
        "_Links": {
            "ViewBalance": {
                "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances",
                "Method": "GET",
                "AllowedScopes": [ "clientWalletGetBalance", "staffWalletGetBalance" ]
            }
        }
    }
```

The following is a table of all possible URIs with the corresponding HTTP verbs and allowed scopes defined in the API:

|Link name|Href|Method|Allowed Scopes|
|---------|---|---------|--------------|
|Self|Refers to the resource it's attached to|
|Journeys|/journeys|GET|any|
|SearchCustomerByMembershipCard|/customers?cardNo={cardNo}&dateOfBirth={dateOfBirth}|GET|readonlyCustomerSearch|
|RegisterRetailCustomer|/customers|POST|staffRegisterRetailCustomer|
|CanCreateSaw|/customers/{identifier}/sawEligible|GET|staffUpgradeCustomer<br/>onbehalfUpgradeCustomer|
|UpgradeToSaw|/customers/{identifier}/upgradeToSaw|POST|staffUpgradeCustomer<br/>onbehalfUpgradeCustomer|
|UpdateCustomerPersonal|/customers/{identifier}/personal|PUT|staffUpdateCustomerPersonal|
|UpdateCustomerAddress|/customers/{identifier}/address|PUT|staffUpdateCustomerAddress|
|UpdateCustomerConsents|/customers/{identifier}/consents|PUT|staffUpdateCustomerConsents|
|UpdateCustomerMembership|/customers/memberships/{identifier}|PUT|staffUpdateCustomerMembership|
|AddCustomerVerification|/customers/{identifier}/verifications|POST|staffAddCustomerVerification|
|GetSuspensions|/customers/{identifier}/suspensions|GET|staffGetSuspensions|
|AddSuspension|/customers/{identifier}/suspensions|POST|staffAddSuspension|
|UpdateSuspension|/customers/suspensions/{identifier}|PUT|staffUpdateSuspension|
|RemoveSuspension|/customers/suspensions/{identifier}|DELETE|staffRemoveSuspension|
|RequestPinChange|/customers/{identifier}/authentication/pin/requestChange|POST|staffRequestPinChange|
|GetCustomerAgreements|/customers/{identifier}/agreements|GET|staffGetCustomerAgreements|
|UpdateCustomerAgreement|/customers/agreements/{identifier}|PUT|onbehalfUpdateCustomerAgreement|
|UpdateCustomerContactDetails|/customers/{identifier}/contactDetails|PUT|onbehalfUpdateCustomerContactDetails|
|ViewBalance|/customers/{identifier}/finances|GET|clientWalletGetBalance<br/>staffWalletGetBalance|
|Withdraw|/customers/{identifier}/finances/transfers/withdrawals/{transactionId}|POST|clientWalletWithdraw<br/>onbehalfWalletWithdraw|
|Deposit|/customers/{identifier}/finances/transfers/deposits/{transactionId}|POST|clientWalletDeposit<br/>onbehalfWalletDeposit|
|GetWalletTransactionStatus|/transactions/{transactionId}|GET|staffWalletGetTransactionStatus|

# Authentication

RES API authentication uses OpenID connect for identity, aligned with the [OAuth2](http://oauth.net/2/) protocol. 

Clients will be issued with a `client_id` and `client_secret` that must be provided for token requests. 

<a name="tokens"></a>
## Access Tokens

All requests to RES resources require the client application to provide an appropriate access
token. These tokens are provided in the Authorization header as Bearer tokens. Example:

```
Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImEzck1VZ01Gdjl0UGNsTGE2eUYzekFrZnF1RSIsImtpZCI6ImEzck1VZ01Gdjl0UGNsTGE2eUYzekFrZnF1RSJ9.eyJjbGllbnRfaWQiOiJiZWRlLWdyb3N2ZW5vci1jbXMiLCJzY29wZSI6InJlYWRfZ3Jvc3Zlbm9ybG95YWx0eSIsImlzcyI6Imh0dHBzOi8vaWRzcnYzLmNvbSIsImF1ZCI6Imh0dHBzOi8vaWRzcnYzLmNvbS9yZXNvdXJjZXMiLCJleHAiOjE0MzU5Mzk5NzQsIm5iZiI6MTQzNTkzOTYxNH0.nGLoo8B_enlzdY2OX_sf0d1IEGbAUOL8E_-Dl94owI_rnxRrtvumz6fIGx8L5hTXzl8-GlM0Edfb3fe9cD49JDUbWuh0fYnBTjj4SnALv6DSmYSFHeDBkbbbzwI4QVuERblfeGB04ZAEDCjZlLoL4uly-lE8Oq2E150R83u43i8zDfYqKpPp1D5rvhOvdnOg4q3coICHqGkFzsg_0wfEwaYUgc2AWCuyy7ry4pEnV8cg7BVA3GOldkY5jsE062SP4T-N-UjzKd3Lz1KG0bBYZPfJ2CwV2oTgTnwEAkubIqdfYLm_bXMz8sQwm4I_V22qMDhavYwYBhFp1vQdWoYD2A
```

**Token validation**

Access tokens are fully signed [Json Web Tokens](http://jwt.io/) and should be validated by
the client. Many libraries exist for all platforms that support validating tokens. The details
of RES authentication certificates used to sign token are available under `/.well-known/jwks` endpoint.

<a name="scopes"></a>
## Scopes

In order to access any resource provided by RES, the client should provide a token of a certain type obtained for appropriate scopes.
The relation between resources and allowed scopes is reflected in each endpoint's description.
The following table explains what should be supplied as a part of auth server request in order to get a token with a particular scope issued.

    <table>
        <thead>
            <tr>
                <th>Authentication type</th>
                <th>Token type</th>
                <th>Required parameters</th>
                <th>Available scopes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Read-only operations</td>
                <td>Client Credentials Token</td>
                <td>clientId clientSecret</td>
                <td>readonlyCustomerSearch</td>
            </tr>
            <tr>
                <td rowspan="2">Member of staff performing an operation</td>
                <td rowspan="2">Client Credentials Token</td>
                <td>
                    clientId <br/>
                    clientSecret <br/>
                    venue_id <br/>
                    location_id <br/>
                    staff_id
                </td>
                <td>staffRegisterRetailCustomer</td>
            </tr>
            <tr>
                <td>
                    clientId <br/>
                    clientSecret <br/>
                    venue_id <br/>
                    location_id <br/>
                    staff_id <br/>
                    username
                </td>
                <td>
                    staffUpgradeCustomer <br/>
                    staffUpdateCustomerPersonal <br/>
                    staffUpdateCustomerAddress <br/>
                    staffUpdateCustomerConsents <br/>
                    staffUpdateCustomerMembership <br/>
                    staffGetSuspensions <br/>
                    staffAddSuspension <br/>
                    staffUpdateSuspension <br/>
                    staffRemoveSuspension <br/>
                    staffRequestPinChange <br/>
                    staffWalletGetBalance <br/>
                    staffWalletGetTransactionStatus <br/>
                    staffGetCustomerAgreements <br/>
                    staffAddCustomerVerification
                </td>
            </tr>
            <tr>
                <td>Customer performing action themselves in a venue</td>
                <td>Resource Owner Token</td>
                <td>
                    clientId <br/>
                    clientSecret <br/>
                    venue_id <br/>
                    location_id <br/>
                    game_category <br/>
                    username <br/>
                    password
                </td>
                <td>
                    clientWalletWithdraw <br/>
                    clientWalletDeposit <br/>
                    clientWalletGetBalance
                </td>
            </tr>
            <tr>
                <td>Staff operating on behalf of a customer</td>
                <td>Resource Owner Token</td>
                <td>
                    clientId <br/>
                    clientSecret <br/>
                    venue_id <br/>
                    location_id <br/>
                    staff_id <br/>
                    username <br/>
                    password
                </td>
                <td>
                    onbehalfUpgradeCustomer <br/>
                    onbehalfUpdateCustomerAgreement <br/>
                    onbehalfUpdateCustomerContactDetails <br/>
                    onbehalfWalletWithdraw <br/>
                    onbehalfWalletDeposit
                </td>
            </tr>
        </tbody>
    </table>

<a name="client-credentials-access-token"></a>
## Client Credentials Access Token
This type of access token should be used for the resources, where no customer authentication is required.

**Parameters**

`client_id:client_secret` Base64 encoded, e.g. `YmVkZS1ncm9zdmVub3ItY21zOnNlY3JldA==` and passed in the `Authorization` header

**channel** - The parameter identifies the way **username** is interpreted. The following values are supported: `retail`, `digital`. If not specified then defaults to `retail`, where applicable.

**username** - Username of the customer for `digital` or membership number for `retail`. Required when a member of staff performing an operation (see [Scopes](#scopes) table above).

**venue_id** - Identifier of a venue where a call to RES comes from. Required when a member of staff performing an operation (see [Scopes](#scopes) table above).

**location_id** - Identifier of a device/machine calling RES. Required when a member of staff performing an operation (see [Scopes](#scopes) table above).

**staff_id** - Identifier of a member of staff calling RES. Required when a member of staff performing an operation (see [Scopes](#scopes) table above).

**Example request #1**

```
POST /connect/token
Content-Type: application/x-www-form-urlencoded
Authorization: Basic YmVkZS1ncm9zdmVub3ItY21zOnNlY3JldA==

grant_type=client_credentials
&scope=readonlyCustomerSearch
```

**Example response #1**

```
{
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImEzck1VZ01Gdjl0UGNsTGE2eUYzekFrZnF1RSIsImtpZCI6ImEzck1VZ01Gdjl0UGNsTGE2eUYzekFrZnF1RSJ9.eyJjbGllbnRfaWQiOiJiZWRlLWdyb3N2ZW5vci1jbXMiLCJzY29wZSI6InJlYWRfZ3Jvc3Zlbm9ybG95YWx0eSIsImlzcyI6Imh0dHBzOi8vaWRzcnYzLmNvbSIsImF1ZCI6Imh0dHBzOi8vaWRzcnYzLmNvbS9yZXNvdXJjZXMiLCJleHAiOjE0MzU5Mzk5NzQsIm5iZiI6MTQzNTkzOTYxNH0.nGLoo8B_enlzdY2OX_sf0d1IEGbAUOL8E_-Dl94owI_rnxRrtvumz6fIGx8L5hTXzl8-GlM0Edfb3fe9cD49JDUbWuh0fYnBTjj4SnALv6DSmYSFHeDBkbbbzwI4QVuERblfeGB04ZAEDCjZlLoL4uly-lE8Oq2E150R83u43i8zDfYqKpPp1D5rvhOvdnOg4q3coICHqGkFzsg_0wfEwaYUgc2AWCuyy7ry4pEnV8cg7BVA3GOldkY5jsE062SP4T-N-UjzKd3Lz1KG0bBYZPfJ2CwV2oTgTnwEAkubIqdfYLm_bXMz8sQwm4I_V22qMDhavYwYBhFp1vQdWoYD2A",
    "expires_in": 600,
    "token_type": "bearer"
}
```

**Example request #2**

```
POST /connect/token
Content-Type: application/x-www-form-urlencoded
Authorization: Basic YmVkZS1ncm9zdmVub3ItY21zOnNlY3JldA==

grant_type=client_credentials
&scope=staffUpgradeCustomer
&channel=retail
&username=<membershipNumber/username>
&venue_id=50601
&location_id=AR01
&staff_id=cashier4
```

**Example response #2**

```
{
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImEzck1VZ01Gdjl0UGNsTGE2eUYzekFrZnF1RSIsImtpZCI6ImEzck1VZ01Gdjl0UGNsTGE2eUYzekFrZnF1RSJ9.eyJjbGllbnRfaWQiOiJiZWRlLWdyb3N2ZW5vci1jbXMiLCJzY29wZSI6InJlYWRfZ3Jvc3Zlbm9ybG95YWx0eSIsImlzcyI6Imh0dHBzOi8vaWRzcnYzLmNvbSIsImF1ZCI6Imh0dHBzOi8vaWRzcnYzLmNvbS9yZXNvdXJjZXMiLCJleHAiOjE0MzU5Mzk5NzQsIm5iZiI6MTQzNTkzOTYxNH0.nGLoo8B_enlzdY2OX_sf0d1IEGbAUOL8E_-Dl94owI_rnxRrtvumz6fIGx8L5hTXzl8-GlM0Edfb3fe9cD49JDUbWuh0fYnBTjj4SnALv6DSmYSFHeDBkbbbzwI4QVuERblfeGB04ZAEDCjZlLoL4uly-lE8Oq2E150R83u43i8zDfYqKpPp1D5rvhOvdnOg4q3coICHqGkFzsg_0wfEwaYUgc2AWCuyy7ry4pEnV8cg7BVA3GOldkY5jsE062SP4T-N-UjzKd3Lz1KG0bBYZPfJ2CwV2oTgTnwEAkubIqdfYLm_bXMz8sQwm4I_V22qMDhavYwYBhFp1vQdWoYD2A",
    "expires_in": 600,
    "token_type": "bearer"
}
```

**Authentication flow**

The following diagram depicts the sequence of interactions between client and the main RES components in context of authentication process:

![Client Credentials Authentication Flow](https://rankgroup-my.sharepoint.com/personal/yauhen_karelau_rankgroup_com/_layouts/15/guestaccess.aspx?docid=0094629bff2f747f5b07ac37784ee8861&authkey=AWQ_YovzwKCSmRQ_NglTpP4)

(1) - The Client requests Client Credentials [Access Token](#tokens) from Identity Provider (IDP).
The parameters to be supplied depend on the [scopes](#scopes) required to perform an operation
over a resource.

(2) - `access_token` of the requested token type is issued by IDP and returned to the Client.

(3) - The Client sends a request to one of RES API endpoints.
The obtained `access_token` must be supplied to the request as `Authorization` HTTP header.

(4) - RES communicates to IDP, in order to validate the token provided by the Client.

(5) - IDP responds with the token validation result.
If token is expired, compromised or revoked then the result will be negative, otherwise positive.

(6) - Once the token is validated, RES carries on processing the Client's request and responds accordingly.

### Token expiration

The access tokens have an expiration time defined in the token claims and duplicated for
simplicity in the response body. After `expires_in` seconds, clients applications will need to
make another client credentials request to get a new access token for subsequent operations
requiring a client access token.

<a name="resource-owner-access-token"></a>
## Resource Owner Access Token
Resource owner access tokens are required to access resources where an authenticated customer is expected. Note that to generate a resource owner access token, client credentials should also be supplied using the Authorization header as shown. 

In order to obtain a refresh token along with the access token where possible, the special scope `offline_access` should be specified in addition to the requested ones.

**Parameters**

`client_id:client_secret` Base64 encoded, e.g. 98712389abc and passed in the Authorization header

**channel** - The parameter identifies the way **username** and **password** are interpreted. The following values are supported: `retail`, `digital`. If not specified then defaults to `retail`.

**username** - Username of the resource owner (customer) for `digital` or membership number for `retail`. Always required.

**password** - Password of the resource owner (customer) for `digital` or PIN for `retail`. Always required.

**venue_id** - Identifier of a venue where a call to RES comes from. Always required.

**game_category** - The game category (e.g. slots, table game). Required for certain scopes (see [Scopes](#scopes) table above).

**location_id** - Identifier of a device/machine calling RES. Always required.

**staff_id** - Identifier of a member of staff calling RES. Required only when a member of staff initiates an API call (see [Scopes](#scopes) table above).

**Example request #1**

```
POST /connect/token
Content-Type: application/x-www-form-urlencoded
Authorization: Basic YmVkZS1ncm9zdmVub3ItY21zOnNlY3JldA==

grant_type=password
&scope=onbehalfUpdateCustomerAgreementClient
&channel=retail
&username=<membershipNumber/username>
&password=<pin/password>
&venue_id=50601
&location_id=AR01
&staff_id=cashier4
```

**Example response #1**

```
{
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.ew0KICAiY2xpZW50X2lkIjogInJlcyIsDQogICJzY29wZSI6IFsNCiAgICAic3BpbmUiLA0KICAgICJzaXRlY29kZSINCiAgXSwNCiAgInN1YiI6ICI2Mzk3MTk5MTk4MzUwMjU0MTIiLA0KICAiR2FtZVRva2VuIjogIldzMkY3a1NwMmRaWlZHWlRNWU1yRU1yYVJ5QXFwU1BDS2ZHWUl6SFhFbXVjNUM5dzdVYlM0dk5zZFIwa01LUlV1SDVpRWdwSWI2LVd0REpVMkMwQlliTDROZXlGRGpTVW9namtiMjY5RGF3MSIsDQogICJhbXIiOiAicGFzc3dvcmQiLA0KICAiYXV0aF90aW1lIjogMTQyOTI4NjE5NywNCiAgImlkcCI6ICJpZHNydiIsDQogICJpc3MiOiAiaHR0cDovL2V3MS1xYTAxLTUwMS5jbG91ZGFwcC5uZXQ6ODg4OC9jb3JlIiwNCiAgImF1ZCI6ICJodHRwOi8vZXcxLXFhMDEtNTAxLmNsb3VkYXBwLm5ldDo4ODg4L2NvcmUvcmVzb3VyY2VzIiwNCiAgImV4cCI6IDE0MjkyODY3OTgsDQogICJuYmYiOiAxNDI5Mjg2MTk4DQp9.eqvm-4vOF6s7Iwpqfd01qa4ZkwSMkQiVgNFNCqdjX-hX843pUtGTM2XdEIBwvwf4OxldptRtYl5gdAcChXJcZf2TLXhxnznP4uPMQsvEXlm3qy44uHXj8phlEsQELC2CydcVUa-C6sZV0RXJ-QNfUo2sGQQwnX7rWP19Byf-Z6QzmaJFkSWU8yOl45qxfSu3XDmf4GyQpBPnn5YBi8FWuK7R2QSBdK3JFlQ9VvHyk7QeDQhfMg1OJdP1JfbXbi_V3WN3cD700hx_f2f_mVS6o_VYEHBh9IPb7wsCcSfR33BKKlXFUraKdttIwYjQL-frEmpOzI2mQDGg2de_PodU-w",
    "expires_in": 600,
    "token_type": "bearer"
}
```

**Example request #2**

```
POST /connect/token
Content-Type: application/x-www-form-urlencoded
Authorization: Basic YmVkZS1ncm9zdmVub3ItY21zOnNlY3JldA==

grant_type=password
&scope=clientWalletDeposit%20offline_access
&channel=retail
&username=<membershipNumber/username>
&password=<pin/password>
&venue_id=50601
&location_id=AR01
&game_category=slots
```

**Example response #2**

```
{
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.ew0KICAiY2xpZW50X2lkIjogInJlcyIsDQogICJzY29wZSI6IFsNCiAgICAic3BpbmUiLA0KICAgICJzaXRlY29kZSINCiAgXSwNCiAgInN1YiI6ICI2Mzk3MTk5MTk4MzUwMjU0MTIiLA0KICAiR2FtZVRva2VuIjogIldzMkY3a1NwMmRaWlZHWlRNWU1yRU1yYVJ5QXFwU1BDS2ZHWUl6SFhFbXVjNUM5dzdVYlM0dk5zZFIwa01LUlV1SDVpRWdwSWI2LVd0REpVMkMwQlliTDROZXlGRGpTVW9namtiMjY5RGF3MSIsDQogICJhbXIiOiAicGFzc3dvcmQiLA0KICAiYXV0aF90aW1lIjogMTQyOTI4NjE5NywNCiAgImlkcCI6ICJpZHNydiIsDQogICJpc3MiOiAiaHR0cDovL2V3MS1xYTAxLTUwMS5jbG91ZGFwcC5uZXQ6ODg4OC9jb3JlIiwNCiAgImF1ZCI6ICJodHRwOi8vZXcxLXFhMDEtNTAxLmNsb3VkYXBwLm5ldDo4ODg4L2NvcmUvcmVzb3VyY2VzIiwNCiAgImV4cCI6IDE0MjkyODY3OTgsDQogICJuYmYiOiAxNDI5Mjg2MTk4DQp9.eqvm-4vOF6s7Iwpqfd01qa4ZkwSMkQiVgNFNCqdjX-hX843pUtGTM2XdEIBwvwf4OxldptRtYl5gdAcChXJcZf2TLXhxnznP4uPMQsvEXlm3qy44uHXj8phlEsQELC2CydcVUa-C6sZV0RXJ-QNfUo2sGQQwnX7rWP19Byf-Z6QzmaJFkSWU8yOl45qxfSu3XDmf4GyQpBPnn5YBi8FWuK7R2QSBdK3JFlQ9VvHyk7QeDQhfMg1OJdP1JfbXbi_V3WN3cD700hx_f2f_mVS6o_VYEHBh9IPb7wsCcSfR33BKKlXFUraKdttIwYjQL-frEmpOzI2mQDGg2de_PodU-w",
    "expires_in": 600,
    "token_type": "bearer",
    "refresh_token": "1cf75ed7e40723b64bbe29eb2f2654b8"
}
```

**Authentication flow**

The following diagram depicts the sequence of interactions between client and the main RES components in context of authentication process:

![Resource Owner Authentication Flow](https://rankgroup-my.sharepoint.com/personal/yauhen_karelau_rankgroup_com/_layouts/15/guestaccess.aspx?docid=0368f509e64ff4d2eb3077ebb0c0d55eb&authkey=AcPCjrYODIOJIUwQ0oze090)

(1) - The Client requests Resource Owner [Access Token](#tokens) from Identity Provider (IDP).
The parameters to be supplied depend on the [scopes](#scopes) required to perform an operation
over a resource. Customer's `username` and `password` are mandatory parameters for this type of authentication flow.
In order to obtain a `refresh_token` along with the `access_token` where possible, the special scope
`offline_access` should be supplied in addition to any other scopes.

(2) - `access_token` of the requested token type along with `refresh_token` is issued by IDP and returned to the Client.
It's Client's responsibility to save `refresh_token` if [Refresh Token Authentication Flow](#refresh-token) is going to be used for further RES API calls.

(3) - The Client sends a request to one of RES API endpoints.
The obtained `access_token` must be supplied to the request as `Authorization` HTTP header.

(4) - RES communicates to IDP, in order to validate the token provided by the Client.

(5) - IDP responds with the token validation result.
If token is expired, compromised or revoked then the result will be negative, otherwise positive.

(6) - Once the token is validated, RES carries on processing the Client's request and responds accordingly.

<a name="refresh-token"></a>
## Refresh Token

Resource owner access tokens have an expiration time defined both in the response above and inside the token claims, shown in seconds. Unlike the client credentials access token, resource owner tokens provide a specific refresh operation to allow the client application to extend the life of the session without requiring customer authentication details to be resupplied.

**Parameters**

`client_id:client_secret` Base64 encoded, e.g. `YmVkZS1ncm9zdmVub3ItY21zOnNlY3JldA==` and passed in the `Authorization` header

**Example Request**

```
POST /connect/token
Content-Type: application/x-www-form-urlencoded
Authorization: Basic YmVkZS1ncm9zdmVub3ItY21zOnNlY3JldA==

grant_type=refresh_token
&refresh_token=1cf75ed7e40723b64bbe29eb2f2654b8
```

**Example Response**

```
{
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im5kcnRheVk3c0tuSjZSY3ZCRjlLZl9BU3B0SSIsImtpZCI6Im5kcnRheVk3c0tuSjZSY3ZCRjlLZl9BU3B0SSJ9.eyJjbGllbnRfaWQiOiJ0Y3MiLCJzY29wZSI6WyJnYW1lVG9rZW4iLCJvZmZsaW5lX2FjY2VzcyIsInNpdGVjb2RlIiwic3BpbmUiXSwic3ViIjoiNjQ0MTM5MTk1ODYxOTY2ODQ4IiwiYW1yIjoicGFzc3dvcmQiLCJhdXRoX3RpbWUiOjE0NDI1MDQxMTUsImlkcCI6Imlkc3J2IiwiZ2FtZVRva2VuIjoiRExlZS0zNHhuNDBxcEowVWpZUzRWV1VIdFQzY2Zmb05oOU1qVjcxRVNocWJ6QVBBRjUyWWdnX2I4ZmZjT0JvbUVaRDdScnVzNlg3X3YxZ0dHeXNlNnRvNWIwTEs2S2otWmhZa2xjMGlSelkxIiwic2l0ZWNvZGUiOiJncm9zdmVub3JjYXNpbm9zLmNvbSIsImlzcyI6Imh0dHA6Ly9ldzEtcWEwMS01MDEtaWxiLmFkLmJlZGVnYW1pbmcuY29tOjg4ODgvY29yZSIsImF1ZCI6Imh0dHA6Ly9ldzEtcWEwMS01MDEtaWxiLmFkLmJlZGVnYW1pbmcuY29tOjg4ODgvY29yZS9yZXNvdXJjZXMiLCJleHAiOjE0NDI1MDQ0MTUsIm5iZiI6MTQ0MjUwNDExNX0.NW3YVYwmdibBYkRgx1TveOVBDA3-x7W9D_R3tkL5-DOgiTEbirVeDH6kC4Pwy2oBbJyZhxK4pzyIbynm2LjeWtf36qn_JW40UX0POJX7WTv4J-HHja2ExB2xCmvPMpQtv1V9GnuHz7yuxMr_IdNrBfedfFiwtmf2j2AILQsgjvsDLjr2U7MSyyGozwRRvtbU6ZkOm6zNxAonblDtmlPZmFvlJ8p8EZ-f37s9Vyc_-oDgF8qm5AQpvjrII7OsIMeWbaJtjmf6EgSjzeDnXaIvmdlo_RNozIcLDCmndXbLRmhLiJ5_r1aEGJXqvmZPXU1J5Sx7i2XbS2q5koLfVmYRNA",
    "expires_in": 600,
    "token_type": "bearer",
    "refresh_token": "2cd75ed7e40723b64bbe29eb2f2654b8"
}
```

**Authentication flow**

The following diagram depicts the sequence of interactions between client and the main RES components in context of authentication process:

![Refresh Token Authentication Flow](https://rankgroup-my.sharepoint.com/personal/yauhen_karelau_rankgroup_com/_layouts/15/guestaccess.aspx?docid=0bcf8d3d87f714f69a7001076b20f26b3&authkey=AVGhSEmd7-D9j79mxKjSE8k)

(1) - The Client requests Resource Owner [Access Token](#tokens) from Identity Provider (IDP).
The parameters to be supplied depend on the [scopes](#scopes) required to perform an operation
over a resource. Previously obtained `refresh_token` is a mandatory parameter for this type of authentication flow.

(2) - `access_token` of the requested token type along with `refresh_token` is issued by IDP and returned to the Client.
If the returned `refresh_token` differes from the supplied value, the Client should start using new
`refresh_token` since the previously saved one may be expired.

(3) - The Client sends a request to one of RES API endpoints.
The obtained `access_token` must be supplied to the request as `Authorization` HTTP header.

(4) - RES communicates to IDP, in order to validate the token provided by the Client.

(5) - IDP responds with the token validation result.
If token is expired, compromised or revoked then the result will be negative, otherwise positive.

(6) - Once the token is validated, RES carries on processing the Client's request and responds accordingly.

# Group Journeys

This API is HATEOAS-based entry point for a client.

## Initial Journeys [/journeys]

This endpoint provides HATEOAS-centric set of links to resources and actions available to the client, based upon the token supplied.

### Get Initial Journeys [GET]

**Allowed scopes**: any

+ Request

    + Headers 
            
            Authorization: Bearer (client credentials/resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 200 (application/json)

    Read-only operations (no customer identifiers in JWT claims)
    
    + Body

            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/journeys",
                        "Method": "GET"
                    },
                    "SearchCustomerByMembershipCard": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers?cardNo={cardNo}&dateOfBirth={dateOfBirth}",
                        "Method": "GET",
                        "AllowedScopes": [ "readonlyCustomerSearch" ]
                    }
                }
            }

+ Response 200 (application/json)

    Customer has SAW account (RetailId, DigitalId and DigitalUsername are presented in JWT claims)
    
    + Body

            {
                "_Links": {
                    "Self": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/journeys",
                      "Method": "GET"
                    },
                    "RegisterRetailCustomer": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffRegisterRetailCustomer"
                      ]
                    },
                    "GetSuspensions": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                      "Method": "GET",
                      "AllowedScopes": [
                        "staffGetSuspensions"
                      ]
                    },
                    "AddSuspension": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffAddSuspension"
                      ]
                    },
                    "UpdateCustomerPersonal": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/personal",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerPersonal"
                      ]
                    },
                    "UpdateCustomerAddress": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/address",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerAddress"
                      ]
                    },
                    "UpdateCustomerConsents": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/consents",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerConsents"
                      ]
                    },
                    "UpdateCustomerMembership": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/memberships/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerMembership"
                      ]
                    },
                    "ViewBalance": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances",
                      "Method": "GET",
                      "AllowedScopes": [
                        "clientWalletGetBalance",
                        "staffWalletGetBalance"
                      ]
                    },
                    "Withdraw": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/{transactionId}",
                      "Method": "POST",
                      "AllowedScopes": [
                        "clientWalletWithdraw",
                        "onbehalfWalletWithdraw"
                      ]
                    },
                    "Deposit": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/{transactionId}",
                      "Method": "POST",
                      "AllowedScopes": [
                        "clientWalletDeposit",
                        "onbehalfWalletDeposit"
                      ]
                    },
                    "GetWalletTransactionStatus": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/transactions/{transactionId}",
                      "Method": "GET",
                      "AllowedScopes": [
                        "staffWalletGetTransactionStatus"
                      ]
                    },
                    "RequestPinChange": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/authentication/pin/requestChange",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffRequestPinChange"
                      ]
                    },
                    "GetCustomerAgreements": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/agreements",
                      "Method": "GET",
                      "AllowedScopes": [
                        "staffGetCustomerAgreements"
                      ]
                    },
                    "AddCustomerVerification": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/verifications",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffAddCustomerVerification"
                      ]
                    },
                    "UpdateCustomerContactDetails": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/contactDetails",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "onbehalfUpdateCustomerContactDetails"
                      ]
                    }
                }
            }
            
+ Response 200 (application/json)

    Customer has Retail only account (only RetailId is presented in JWT claims)
    
    + Body

            {
                "_Links": {
                    "Self": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/journeys",
                      "Method": "GET"
                    },
                    "RegisterRetailCustomer": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffRegisterRetailCustomer"
                      ]
                    },
                    "CanCreateSaw": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/sawEligible",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffUpgradeCustomer",
                        "onbehalfUpgradeCustomer"
                      ]
                    },
                    "GetSuspensions": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                      "Method": "GET",
                      "AllowedScopes": [
                        "staffGetSuspensions"
                      ]
                    },
                    "AddSuspension": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffAddSuspension"
                      ]
                    },
                    "UpdateCustomerPersonal": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/personal",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerPersonal"
                      ]
                    },
                    "UpdateCustomerAddress": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/address",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerAddress"
                      ]
                    },
                    "UpdateCustomerConsents": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/consents",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerConsents"
                      ]
                    },
                    "UpdateCustomerMembership": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/memberships/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerMembership"
                      ]
                    }
                }
            }
            
+ Response 200 (application/json)

    Customer has Digital only account (only DigitalId and DigitalUsername are presented in JWT claims)
    
    + Body

            {
                "_Links": {
                    "Self": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/journeys",
                      "Method": "GET"
                    },
                    "CanCreateSaw": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/sawEligible",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffUpgradeCustomer",
                        "onbehalfUpgradeCustomer"
                      ]
                    }
                }
            }

+ Response 200 (application/json)

    No journeys available
    
    + Body

            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/journeys",
                        "Method": "GET"
                    }
                }
            }

# Group Customers

## Customers [/customers]

Model for the resource is defined below:
| Name                                                  | Type      | Required          | Description                                                                           |Example                    |
|:---                                                   |:---       |:--:               |:---                                                                                   |:---                       |
|Personal.Title                                         |string[?]  |**yes**            |Allowed values: "Mr", "Mrs", "Miss", ...                                               |"Mr"                       |
|Personal.FirstName                                     |string[25] |**yes**            |                                                                                       |"John"                     |
|Personal.MiddleName                                    |string[25] |**optional**       |                                                                                       |"Dan"                      |
|Personal.LastName                                      |string[25] |**yes**            |                                                                                       |"Jackson"                  |
|Personal.PreferredName                                 |string[25] |**optional**       |                                                                                       |"Johnny"                   |
|Personal.DateOfBirth                                   |date       |**yes**            |                                                                                       |"1955-01-30"               |
|Personal.DateOfDeath                                   |date       |**optional**       |                                                                                       |"1975-01-30"               |
|Personal.Gender                                        |string[1]  |**yes**            |Allowed values: "U" for Undisclosed, "F" for Female, "M" for Male                      |"M"                        |
|Personal.Occupation                                    |string[40] |**optional**       |                                                                                       |"Clerk"                    |
|Address.Line1                                          |string[400]|**yes**            |                                                                                       |"Flat 2"                   |
|Address.Line2                                          |string[400]|**yes**            |                                                                                       |"10 Downing Street"        |
|Address.Town                                           |string[100]|**yes**            |                                                                                       |"London"                   |
|Address.Postcode                                       |string[10] |**yes**            |                                                                                       |"WC2B 4AA"                 |
|Address.County                                         |string[20] |**optional**       |                                                                                       |"Greater London"           |
|Address.Country                                        |string[2]  |**yes**            |ISO two-letter country codes. Allowed values: "AU", "NZ", "GB", "US", etc.             |"GB"                       |
|ContactDetails.LandlinePhone                           |string[20] |**optional**       |                                                                                       |"07886028945"              |
|ContactDetails.MobilePhone                             |string[20] |**optional** (either Mobile or Email must be supplied)|                                                    |"07886028947"              |
|ContactDetails.Email                                   |string[?]  |**optional** (either Mobile or Email must be supplied)|                                                    |"john@rank.com"            |
|MarketingConsents.PostConsent                          |boolean    |**yes**            |The flag defining if marketing contacts via post were allowed                          |true                       |
|MarketingConsents.LandlineConsent                      |boolean    |**yes**            |The flag defining if marketing contacts via landline phone were allowed                |true                       |
|MarketingConsents.MobileConsent                        |boolean    |**yes**            |The flag defining if marketing contacts via mobile phone were allowed                  |true                       |
|MarketingConsents.SmsConsent                           |boolean    |**yes**            |The flag defining if marketing contacts via SMS were allowed                           |true                       |
|MarketingConsents.EmailConsent                         |boolean    |**yes**            |The flag defining if marketing contacts via email were allowed                         |true                       |
|MarketingConsents.PushConsent                          |boolean    |**yes**            |The flag defining if marketing contacts via push were allowed                          |true                       |
|Verifications.VerificationType                         |string[?]  |**yes**            |Allowed values: "CustomerNotPresent", "CustomerPresent", "Electronic"                  |"CustomerNotPresent"       |
|Verifications.VerificationPassed                       |boolean    |**yes**            |True or False                                                                          |true                       |
|Verifications.VerificationDate                         |datetime   |**yes**            |                                                                                       |"2017-01-25T10:00:00"      |
|Verifications.DocumentNumber                           |string[?]  |**yes**            |                                                                                       |"BB123456"                 |
|Verifications.DocumentType                             |string[?]  |**yes**            |Allowed values: "Passport", "DrivingLicence", "MilitaryID"                             |"Passport"                 |
|Verifications.ExpiryDate                               |datetime   |**optional**       |                                                                                       |"2030-01-25T00:00:00"      |
|Verifications.IssuerDetails                            |string[?]  |**yes**            |The Retail or Digital customer identifier                                              |"GB passport"              |
|Verifications.Nationality                              |string[2]  |**optional**       |ISO two-letter country codes. Allowed values: "AU", "NZ", "GB", "US", etc.             |"US"                       |
|Membership.MembershipId                                |string[?]  |**yes**            |The Retail or Digital customer identifier                                              |"4124681094"               |
|Membership.Username                                    |string[15] |**optional**       |                                                                                       |"johnSilver777"            |
|Membership.RegisteredClubNumber                        |string[?]  |**yes**            |                                                                                       |"50106"                    |
|Membership.MembershipCardNumber                        |string[?]  |**optional**       |                                                                                       |"123123123"                |
|Membership.Status                                      |string[?]  |**optional**       |                                                                                       |"Active"                   |
|Membership.Channel                                     |string[?]  |**optional**       |                                                                                       |"Retail"                   |
|Membership.Brand                                       |string[?]  |**optional**       |                                                                                       |"Grosvenor"                |
|Membership.DatePartOfSaw                               |datetime   |**optional**       | Date the membership became part of a single account and wallet                        |"2017-01-25T10:00:00"      |

For registration following input validation in place

**Following fields must follow a valid format:**
- `ContactDetails.Email` address - valid email format
- `ContactDetails.LandlinePhone` and `ContactDetails.MobilePhone` - starts with 0 or +, followed by 9/10 digits, it allows optional spacing between digits to conform the popular/acceptable format (i.e. 07886028945, +447886029845, etc.)
- `Address.Postcode` - valid UK postcode for UK addresses
- `Personal.DateOfBirth` - must be of legal age (18)

### Search by Membership Card [GET /customers?cardNo={cardNo}&dateOfBirth={dateOfBirth}]

**Allowed scopes**: `readonlyCustomerSearch`

The endpoint for customer lookup from Bede using Membership Card Number and optionally Date of Birth.

+ Parameters
    + cardNo: `123456` (string, required)
    + dateOfBirth: `2001-12-12` (date, optional)
    
+ Request

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 200 (application/json)

    Customer is found by the parameters specified

    + Body
    
            {
                "Personal": {
                    "Title": "Mr",
                    "FirstName": "John",
                    "MiddleName": "Dan",
                    "LastName": "Jackson",
                    "PreferredName": "Johnny",
                    "DateOfBirth": "1955-01-30",
                    "DateOfDeath": "2200-02-17",
                    "Gender": "M",
                    "Occupation": "Clerk"
                },
                "Address": {
                    "Line1": "Flat 57",
                    "Line2": "10 Downing Street",
                    "Town": "London",
                    "Postcode": "WC2B 4AA",
                    "County": "Greater London",
                    "Country": "GB"
                },
                "ContactDetails": {
                    "LandlinePhone": "07886028945",
                    "MobilePhone": "07886028947",
                    "Email": "jack@rank.com"
                },
                "MarketingConsents": {
                    "PostConsent": true,
                    "LandlineConsent": false,
                    "MobileConsent": true,
                    "SmsConsent": true,
                    "EmailConsent": true,
                    "PushConsent": false
                },
                "Verifications": [
                    {
                        "VerificationType": "CustomerNotPresent",
                        "VerificationPassed": true,
                        "VerificationDate": "2017-01-25T10:00:00",
                        "DocumentNumber": "435345345",
                        "DocumentType": "Passport",
                        "ExpiryDate": "2020-01-01T00:00:00",
                        "IssuerDetails": "HM Passport Office",
                        "Nationality": "GB"
                    }
                ],
                "Memberships": [
                    {
                        "MembershipId": "12345678",
                        "RegisteredClubNumber": "50601",
                        "MembershipCardNumber": "123123123",
                        "Status" : "Closed",
                        "Channel" : "Retail",
                        "Brand" : "Grosvenor",
                        "DatePartOfSaw": null
                    },
                    {
                        "MembershipId": "67890123",
                        "RegisteredClubNumber": "50602",
                        "MembershipCardNumber": "456456456",
                        "Status" : "Active",
                        "Channel" : "Retail",
                        "Brand" : "Grosvenor",
                        "DatePartOfSaw": "2017-01-25T10:00:00"
                    },
                    {
                        "MembershipId": "908070605",
                        "Username": "johnSilver777",
                        "Status" : "Active",
                        "Channel" : "Digital",
                        "Brand" : "Grosvenor",
                        "DatePartOfSaw": "2017-01-25T10:00:00"
                    }
                ],
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers?cardNo=123456",
                        "Method": "GET",
                        "AllowedScopes": [ "readonlyCustomerSearch" ]
                    }
                }
            }

+ Response 204 (application/json)

    Not found
    
    + Headers

+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

### Update Personal Information [PUT /customers/{identifier}/personal]

**Allowed scopes**: `staffUpdateCustomerPersonal`

This API is to update an existing customers information once they have been identified as a SAW customer.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body
    
            {
                "Title": "Mr",
                "FirstName": "John",
                "MiddleName": "Dan",
                "LastName": "Jackson",
                "PreferredName": "Johnny",
                "DateOfBirth": "1955-01-30",
                "DateOfDeath": "2200-02-17",
                "Gender": "M",
                "Occupation": "Clerk"
            }
            
+ Response 202 (application/json)

    Accepted
    
    + Headers
            
+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }
            
+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

### Update Address [PUT /customers/{identifier}/address]

**Allowed scopes**: `staffUpdateCustomerAddress`

This API is to update an existing customers information once they have been identified as a SAW customer.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body
    
            {
                "Line1": "Flat 57",
                "Line2": "10 Downing Street",
                "Town": "London",
                "Postcode": "WC2B 4AA",
                "County": "Greater London",
                "Country": "GB"
            }
            
+ Response 202 (application/json)

    Accepted
    
    + Headers
            
+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }
            
+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

### Update Contact Details [PUT /customers/{identifier}/contactDetails]

**Allowed scopes**: `onbehalfUpdateCustomerContactDetails`

This API is to update an existing customers information once they have been identified as a SAW customer.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body
    
            {
                "LandlinePhone": "07886028945",
                "MobilePhone": "07886028947",
                "Email": "jack@rank.com"
            }
            
+ Response 202 (application/json)

    Accepted
    
    + Headers
            
+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }
            
+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

### Update Consents [PUT /customers/{identifier}/consents]

**Allowed scopes**: `staffUpdateCustomerConsents`

This API is to update an existing customers information once they have been identified as a SAW customer.

This endpoint supports partical requests (see examples).

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request (application/json)

    Full request

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body
    
            {
                "PostConsent": true,
                "LandlineConsent": false,
                "MobileConsent": true,
                "SmsConsent": true,
                "EmailConsent": true,
                "PushConsent": false
            }

+ Response 202 (application/json)

    Accepted
    
    + Headers
            
+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }
            
+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }
           
### Update Membership [PUT /customers/memberships/{identifier}]

**Allowed scopes**: `staffUpdateCustomerMembership`

This API is to update an existing customers information once they have been identified as a SAW customer.

Acceptable `Status` values:
* `Active` - The account may be used normally.
* `Locked` - Authentication failed 5 times, the account locked.
* `Closed` - The account has been closed for any reason, such as it was a duplicate, the customer requested it closed, etc.
* `Void` - The account was created in error. Accounts in this state are ignored completely.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body
    
            {
                "MembershipCardNumber": "456456456",
                "Status" : "Active"
            }
    
+ Response 202 (application/json)

    Accepted
    
    + Headers
            
+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }
            
+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

### Add Verification [POST /customers/{identifier}/verifications]

**Allowed scopes**: `staffAddCustomerVerification`

This API is to add new verifications to existing customer profile.

Acceptable `VerificationType` values:
* `CustomerNotPresent`
* `CustomerPresent`
* `Electronic`

Acceptable `DocumentType` values:
* `Passport`
* `DrivingLicence`
* `MilitaryID`

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body

            {
                "VerificationType": "CustomerNotPresent",
                "VerificationPassed": true,
                "VerificationDate": "2017-01-25T10:00:00",
                "DocumentNumber": "435345345",
                "DocumentType": "Passport",
                "ExpiryDate": "2020-01-01T00:00:00",
                "IssuerDetails": "HM Passport Office",
                "Nationality": "GB"
            }
    
+ Response 202 (application/json)

    Accepted
    
    + Headers

+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }
            
+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

### Register Retail Customer [POST]

**Allowed scopes**: `staffRegisterRetailCustomer`

This API will be called when a customer has had a new retail account created. This will create a record within Rank systems except digital

+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e
    
    + Body
    
            {
                "Personal": {
                    "Title": "Mr",
                    "FirstName": "John",
                    "MiddleName": "Dan",
                    "LastName": "Jackson",
                    "PreferredName": "Johnny",
                    "DateOfBirth": "1955-01-30",
                    "Gender": "M",
                    "Occupation": "Clerk"
                },
                "Address": {
                    "Line1": "Flat 57",
                    "Line2": "10 Downing Street",
                    "Town": "London",
                    "Postcode": "WC2B 4AA",
                    "County": "Greater London",
                    "Country": "GB"
                },
                "ContactDetails": {
                    "LandlinePhone": "07886028945",
                    "MobilePhone": "07886028947",
                    "Email": "jack@rank.com"
                },
                "MarketingConsents": {
                    "PostConsent": true,
                    "LandlineConsent": false,
                    "MobileConsent": true,
                    "SmsConsent": true,
                    "EmailConsent": true,
                    "PushConsent": false
                },
                "Verifications": [
                    {
                        "VerificationType": "CustomerNotPresent",
                        "VerificationPassed": true,
                        "VerificationDate": "2017-01-25T10:00:00",
                        "DocumentNumber": "435345345",
                        "DocumentType": "Passport",
                        "ExpiryDate": "2020-01-01T00:00:00",
                        "IssuerDetails": "HM Passport Office",
                        "Nationality": "GB"
                    }
                ],
                "Memberships": [
                    {
                        "MembershipId": "12345678",
                        "RegisteredClubNumber": "45611",
                        "MembershipCardNumber": "123123123"
                    }
                ]
            }

+ Response 202 (application/json)

    Accepted
    
    + Body
    
            {
                "_Links": {
                    "CanCreateSaw": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/sawEligible",
                        "Method": "GET",
                        "AllowedScopes": [ "staffUpgradeCustomer", "onbehalfUpgradeCustomer" ]
                    },
                    "UpdateCustomerPersonal": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/personal",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerPersonal"
                      ]
                    },
                    "UpdateCustomerAddress": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/address",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerAddress"
                      ]
                    },
                    "UpdateCustomerConsents": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/consents",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerConsents"
                      ]
                    },
                    "UpdateCustomerMembership": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/memberships/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                      "Method": "PUT",
                      "AllowedScopes": [
                        "staffUpdateCustomerMembership"
                      ]
                    },
                    "GetSuspensions": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                      "Method": "GET",
                      "AllowedScopes": [
                        "staffGetSuspensions"
                      ]
                    },
                    "AddSuspension": {
                      "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                      "Method": "POST",
                      "AllowedScopes": [
                        "staffAddSuspension"
                      ]
                    }
                }
            }
                
+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }
            
+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

## Upgrade to SAW [/customers/{identifier}/upgradeToSaw]

### Can Create SAW [GET /customers/{identifier}/sawEligible]

**Allowed scopes**: `staffUpgradeCustomer`, `onbehalfUpgradeCustomer`

This API will be called when a customer has an existing retail or digital accounts.
If a customer has already got a digital account, but not a retail one, then a new access token
for `onbehalfUpgradeCustomer` scope must be obtained, supplying his digital `username` and
`password`. Scope `staffUpgradeCustomer` should be used if the customer has alrady got
a retail account or both, digital and retail.


+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)
    
+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials/resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 200 (application/json)

            {
                "CanCreateSAW" : true,
                "CanEnterClub" : true,
                "DigitalAccountUsernames" : [
                    "johnSilver777",
                    "johnX91",
                    "drwho91"
                ],
                "RetailAccountIds" : [
                    "12345678", 
                    "87654321"
                ],
                "GoldenRecord" : {
                    "Personal": {
                        "Title": "Mr",
                        "FirstName": "John",
                        "MiddleName": "Dan",
                        "LastName": "Jackson",
                        "PreferredName": "Johnny",
                        "DateOfBirth": "1955-01-30",
                        "DateOfDeath": "2200-02-17",
                        "Gender": "M",
                        "Occupation": "Clerk"
                    },
                    "Address": {
                        "Line1": "Flat 57",
                        "Line2": "10 Downing Street",
                        "Town": "London",
                        "Postcode": "WC2B 4AA",
                        "County": "Greater London",
                        "Country": "GB"
                    },
                    "ContactDetails": {
                        "LandlinePhone": "07886028945",
                        "MobilePhone": "07886028947",
                        "Email": "jack@rank.com"
                    },
                    "MarketingConsents": {
                        "PostConsent": true,
                        "LandlineConsent": false,
                        "MobileConsent": true,
                        "SmsConsent": true,
                        "EmailConsent": true,
                        "PushConsent": false
                    },
                    "Verifications": [
                        {
                            "VerificationType": "CustomerNotPresent",
                            "VerificationPassed": true,
                            "VerificationDate": "2017-01-25T10:00:00",
                            "DocumentNumber": "435345345",
                            "DocumentType": "Passport",
                            "ExpiryDate": "2020-01-01T00:00:00",
                            "IssuerDetails": "HM Passport Office",
                            "Nationality": "GB"
                        }
                    ],
                    "Memberships": [
                        {
                            "MembershipId": "12345678",
                            "RegisteredClubNumber": "45611",
                            "MembershipCardNumber": "123123123",
                            "Status": "Active",
                            "Channel": "Retail",
                            "Brand": "Grosvenor",
                            "DatePartOfSaw": null
                        } 
                    ]
                },
                "RejectionReasons" : [
                    {
                        "Reason" : "Already SAW"
                    },
                    {
                        "Reason" : "Deceased"
                    },
                    {
                        "Reason" : "Locally barred"
                    },
                    {
                        "Reason" : "Nationally barred"
                    },
                    {
                        "Reason" : "Refused membership"
                    },
                    {
                        "Reason" : "Self-cancelled"
                    },
                    {
                        "Reason" : "Suspended"
                    },
                    {
                        "Reason" : "Self-excluded"
                    },
                    {
                        "Reason" : "Take-a-break"
                    },
                    {
                        "Reason" : "Closed"
                    },
                    {
                        "Reason" : "Locked"
                    },
                    {
                        "Reason" : "Missing email"
                    },
                    {
                        "Reason" : "Missing mobile number"
                    },
                    {
                        "Reason" : "Email in use"
                    }
                ],
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/sawEligible",
                        "Method": "GET",
                        "AllowedScopes": [ "staffUpgradeCustomer", "onbehalfUpgradeCustomer" ]
                    },
                    "UpgradeToSaw": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/upgradeToSaw",
                        "Method": "POST",
                        "AllowedScopes": [ "staffUpgradeCustomer", "onbehalfUpgradeCustomer" ]
                    }
                }
            }

+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }
            
+ Response 424 (application/json)

            {
                "Message": "Customer Not Found"
            }
            
+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

### Upgrade to SAW [POST /customers/{identifier}/upgradeToSaw]

**Allowed scopes**: `staffUpgradeCustomer`, `onbehalfUpgradeCustomer`

This API will be called when a customer has an existing retail and either has an existing
digital account or requires a new digital account. If a customer has already got a digital account then
a new access token for `onbehalfUpgradeCustomer` scope must be obtained, supplying his digital
`username` and `password`. If `staffUpgradeCustomer` scope is used this indicates that a new
digital account should be created from the customer's known email address.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials/resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body

            {
                "Pin": 1234
            }

+ Response 204 (application/json)

+ Response 400 (application/json)

            {
                "Message": "Invalid fields"
            }
            
+ Response 424 (application/json)

            {
                "Message": "Customer Not Found"
            }
            
+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

## Agreements [/customers/{identifier}/agreements]

### Get Agreements [GET]

**Allowed scopes**: `staffGetCustomerAgreements`

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 200 (application/json)

            {
                "Agreements": [
                    {
                        "AgreedDate": "2016-01-30",
                        "Type": "PoPF",
                        "_Links": {
                            "UpdateAgreement": {
                                "Href": "http://dev01-resapi.rankgrouptech.net/customers/agreements/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                                "Method": "PUT",
                                "AllowedScopes": [ "onbehalfUpdateCustomerAgreement" ]
                            }
                        }
                    }
                ],
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/agreements",
                        "Method": "GET",
                        "AllowedScopes": [ "staffGetCustomerAgreements" ]
                    }
                }
            }

+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

### Update Agreement [PUT /customers/agreements/{identifier}]

**Allowed scopes**: `onbehalfUpdateCustomerAgreement`

This API will be used to update Protection of Player Funds flag as an when is required by the terms.
Neon will get the information about the current PoPF status for the customer in lookup API call (above)
This functionality requires cusotmer to authorise in form of entering their correct PIN for the SAW account. Neon application will be required to generate a Resource owner token for the customer to be able to call this API.

Acceptable `Type` values: `PoPF`

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    + Headers 
            
            Authorization: Bearer (resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e
            
    + Body  
            
            {
                "AgreedDate": "2016-01-30",
                "Type": "PoPF"
            }

+ Response 202 (application/json)

    Accepted
    
    + Headers

+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

## Suspensions [/customers/{identifier}/suspensions]

### Get Suspensions [GET]

**Allowed scopes**: `staffGetSuspensions`

Get all suspension information for a single customer

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e
         
+ Response 200 (application/json)
  
           {    
                "Suspensions": [
                    {
                        "From": "2016-01-30",
                        "To": "2016-02-30",
                        "ProposedTo": "2016-06-30",
                        "Type": "SelfExcluded",
                        "_Links": {
                            "UpdateSuspension": {
                                "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                                "Method": "PUT",
                                "AllowedScopes": [ "staffUpdateSuspension" ]
                            },
                            "RemoveSuspension": {
                                "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                                "Method": "DELETE",
                                "AllowedScopes": [ "staffRemoveSuspension" ]
                            }
                        }
                    },
                    {
                        "Reason": "Bad behaviour",
                        "From": "2016-01-30",
                        "To": "2016-02-30",
                        "Site": "67891",
                        "Type": "Barred",
                        "_Links": {
                            "UpdateSuspension": {
                                "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                                "Method": "PUT",
                                "AllowedScopes": [ "staffUpdateSuspension" ]
                            },
                            "RemoveSuspension": {
                                "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                                "Method": "DELETE",
                                "AllowedScopes": [ "staffRemoveSuspension" ]
                            }
                        }
                    }
                ],
                "_Links": {
                     "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                        "Method": "GET",
                        "AllowedScopes": [ "staffGetSuspensions" ]
                    },
                    "AddSuspension": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                         "Method": "POST",
                        "AllowedScopes": [ "staffAddSuspension" ]
                    }
                }
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

### Add Suspension [POST]

**Allowed scopes**: `staffAddSuspension`

To update customer profile as suspended by the SAW staff member by selecting a reason,
and noting the details on why the SAW customer has been suspended, and how long the
suspension will exist for.

Required fields: `From`, `Type`

Acceptable `Type` values:
* `Barred` - retail barring in one or more clubs
* `RefusedMembership` - retail exclusion from (usually) a single club
* `Resigned` - retail barring on request of the customer that will prevent entry to one or more clubs
* `SelfExcluded` - digital and/or retail self-exclusion (self-cancellation for retail)
* `TakeABreak` - digital only, not allowed to play for a set period
* `Suspect` - digital only, we suspect the customer of fraud or other undesirable behaviour (such as a chargeback)

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    Suspension of "SelfExcluded" type is being added

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body  
            
            {
                "From": "2016-01-30",
                "To": "2016-01-30",
                "ProposedTo": "2016-01-30",
                "Type": "SelfExcluded"
            }

+ Request

    Suspension of "Barred" type is being added

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body  
            
            {
                "Reason": "Bad behaviour",
                "From": "2016-01-30",
                "To": "2016-02-30",
                "Site": "67891",
                "Type": "Barred"
            }
           
+ Response 202 (application/json)

    Accepted
    
    + Body
  
            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/suspensions",
                        "Method": "POST",
                        "AllowedScopes": [ "staffAddSuspension" ]
                    },
                    "UpdateSuspension": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                        "Method": "PUT",
                        "AllowedScopes": [ "staffUpdateSuspension" ]
                    },
                    "RemoveSuspension": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                        "Method": "DELETE",
                        "AllowedScopes": [ "staffRemoveSuspension" ]
                    }
                }
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

### Update Suspension [PUT /customers/suspensions/{identifier}]

**Allowed scopes**: `staffUpdateSuspension`

To update customer profile as barred/suspended by the SAW staff member by selecting a reason, and noting the details on why the SAW customer has been barred/suspended, and how long the barring/suspension will exist for.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    Suspension of "SelfExcluded" type is being updated

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body  
            
            {
                "From": "2016-01-30",
                "To": "2016-01-30",
                "ProposedTo": "2016-01-30",
                "Type": "SelfExcluded"
            }

+ Request

    Suspension of "Barred" type is being updated

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body  
            
            {
                "Reason": "Bad behaviour",
                "From": "2016-01-30",
                "To": "2016-02-30",
                "Site": "67891",
                "Type": "Barred"
            }
           
+ Response 202 (application/json)

    Accepted
    
    + Body
  
            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                        "Method": "PUT",
                        "AllowedScopes": [ "staffUpdateSuspension" ]
                    },
                    "RemoveSuspension": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/suspensions/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b",
                        "Method": "DELETE",
                        "AllowedScopes": [ "staffRemoveSuspension" ]
                    }
                }
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }
 
### Remove Suspension [DELETE /customers/suspensions/{identifier}]

**Allowed scopes**: `staffRemoveSuspension`

To update customer profile by removing the barred/suspended status

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 202 (application/json)

    Accepted
    
    + Headers

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }
            
## Security [/customers/{identifier}/authentication/pin/requestChange]

### Request PIN Change [POST]

**Allowed scopes**: `staffRequestPinChange`

Allows a member of staff to request a pin change on behalf of the customer. This is for when the customer has forgotten thier current pin. Once requested the customer will complete the journey on their own device.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 202 (application/json)

    Accepted
    
    + Headers

+ Response 400 (application/json)

            {
                "Message": "Account Locked"
            }

+ Response 403 (application/json)

            {
                "Message": "Customer is not allowed to enter the club"
            }

+ Response 424 (application/json)

            {
                "Message": "Customer Not Found"
            }
            
+ Response 500 (application/json)

            {
                "Message": "Internal Error"
            }

## Wallet [/customers/{identifier}/finances]

The following endpoints are exposed, in order to provide and interface for interactions with customer's SAW.

### View Balance [GET]

**Allowed scopes**: `clientWalletGetBalance`, `staffWalletGetBalance`

This API will be return amount of funds available in SAW wallets along with specific calculated balances. It will also include funds allowed to be deposited or withdrawn based on limits set for the customer in the F&P tactical engine.

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)

+ Request

    + Headers 
            
            Authorization: Bearer (client credentials/resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 200 (application/json)

            {
                "Balances": {
                    "TotalCash": 1000.55,
                    "TotalDigital": 500.00,
                    "TotalRetail": 700.55,
                    "AvailableToWithdraw": 600.00,
                    "AvailableToTransferToRetailGame": 0.00
                },
                "Limits": [
                    {
                        "Name": "TacticalWithdrawalLimit",
                        "RemainingAmount": 100.00
                    },
                    {
                        "Name": "TacticalDepositLimit",
                        "RemainingAmount": 350.00
                    },
                    {
                        "Name": "ResponsibleGamblingLimit",
                        "IsActive": true
                    }
                ],
                "LastCalculatedDateTime": "2016-03-15T14:32:22Z",
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances",
                        "Method": "GET",
                        "AllowedScopes": [ "clientWalletGetBalance", "staffWalletGetBalance" ]
                    },
                    "Withdraw": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletWithdraw", "onbehalfWalletWithdraw" ]
                    },
                    "Deposit": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletDeposit", "onbehalfWalletDeposit" ]
                    }
                }
            }

+ Response 424 (application/json)

            {
                "Message": "Customer not found"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }
            
+ Response 500 (application/json)

            {
                "Message": "Couldn't process the transaction. {System X} is unavailable."
            }

### Withdraw [POST /customers/{identifier}/finances/transfers/withdrawals/{transactionId}]

**Allowed scopes**: `clientWalletWithdraw`, `onbehalfWalletWithdraw`

This API endpoint is used for transfers such as removing funds from SAW (withdrawals and transfers to retail games).

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)
    + transactionId: `000000001-001` (string, required)

+ Request (application/json)

    Remove funds from SAW

    + Headers 
            
            Authorization: Bearer (resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body
    
            {
                "Amount": 100.99
            }

+ Response 200 (application/json)

    Transaction successfully processed
    
    + Body
    
            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/000000001-001",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletWithdraw", "onbehalfWalletWithdraw" ]
                    },
                    "ViewBalance": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances",
                        "Method": "GET",
                        "AllowedScopes": [ "clientWalletGetBalance", "staffWalletGetBalance" ]
                    },
                    "Withdraw": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletWithdraw", "onbehalfWalletWithdraw" ]
                    },
                    "Deposit": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletDeposit", "onbehalfWalletDeposit" ]
                    },
                    "GetWalletTransactionStatus": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/transactions/000000001-001",
                        "Method": "GET",
                        "AllowedScopes": [ "staffWalletGetTransactionStatus" ]
                    }
                }
            }

+ Response 202 (application/json)

    Undetermined state of transaction
    
    + Body
    
            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/000000001-001",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletWithdraw", "onbehalfWalletWithdraw" ]
                    },
                    "ViewBalance": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances",
                        "Method": "GET",
                        "AllowedScopes": [ "clientWalletGetBalance", "staffWalletGetBalance" ]
                    },
                    "Withdraw": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletWithdraw", "onbehalfWalletWithdraw" ]
                    },
                    "Deposit": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletDeposit", "onbehalfWalletDeposit" ]
                    },
                    "GetWalletTransactionStatus": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/transactions/000000001-001",
                        "Method": "GET",
                        "AllowedScopes": [ "staffWalletGetTransactionStatus" ]
                    }
                }
            }

+ Response 400 (application/json)

            {
                "Message": "The requested amount exceeds available funds"
            }
            
+ Response 400 (application/json)

            {
                "Message": "The specified amount exceeds tactical deposit limit"
            }
            
+ Response 400 (application/json)

            {
                "Message": "The requested amount exceeds tactical withdrawal limit"
            }

+ Response 400 (application/json)

            {
                "Message": "The specified amount is invalid"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 424 (application/json)

            {
                "Message": "Customer Not Found"
            }
            
+ Response 500 (application/json)

            {
                "Message": "The latest version of PoPF is not signed off"
            }
            
+ Response 500 (application/json)

            {
                "Message": "Couldn't process the transaction. {System X} is unavailable."
            }

### Deposit [POST /customers/{identifier}/finances/transfers/deposits/{transactionId}]

**Allowed scopes**: `clientWalletDeposit`, `onbehalfWalletDeposit`

This API endpoint is used for transfers such as placing funds into SAW (deposits and cashouts from retail games).

+ Parameters
    + identifier: `86e018ce-ef7d-4c92-ae54-8f0c41d46c7b` (string, required)
    + transactionId: `000000001-001` (string, required)

+ Request (application/json)

    Place funds into SAW

    + Headers 
            
            Authorization: Bearer (resource owner token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

    + Body
    
            {
                "Amount": 100.99
            }

+ Response 200 (application/json)

    Transaction successfully processed
    
    + Body
    
            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/000000001-001",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletDeposit", "onbehalfWalletDeposit" ]
                    },
                    "ViewBalance": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances",
                        "Method": "GET",
                        "AllowedScopes": [ "clientWalletGetBalance", "staffWalletGetBalance" ]
                    },
                    "Withdraw": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletWithdraw", "onbehalfWalletWithdraw" ]
                    },
                    "Deposit": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletDeposit", "onbehalfWalletDeposit" ]
                    },
                    "GetWalletTransactionStatus": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/transactions/000000001-001",
                        "Method": "GET",
                        "AllowedScopes": [ "staffWalletGetTransactionStatus" ]
                    }
                }
            }

+ Response 202 (application/json)

    Undetermined state of transaction
    
    + Body
    
            {
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/000000001-001",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletDeposit", "onbehalfWalletDeposit" ]
                    },
                    "ViewBalance": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances",
                        "Method": "GET",
                        "AllowedScopes": [ "clientWalletGetBalance", "staffWalletGetBalance" ]
                    },
                    "Withdraw": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/withdrawals/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletWithdraw", "onbehalfWalletWithdraw" ]
                    },
                    "Deposit": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/customers/86e018ce-ef7d-4c92-ae54-8f0c41d46c7b/finances/transfers/deposits/{transactionId}",
                        "Method": "POST",
                        "AllowedScopes": [ "clientWalletDeposit", "onbehalfWalletDeposit" ]
                    },
                    "GetWalletTransactionStatus": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/transactions/000000001-001",
                        "Method": "GET",
                        "AllowedScopes": [ "staffWalletGetTransactionStatus" ]
                    }
                }
            }

+ Response 400 (application/json)

            {
                "Message": "The requested amount exceeds available funds"
            }
            
+ Response 400 (application/json)

            {
                "Message": "The specified amount exceeds tactical deposit limit"
            }
            
+ Response 400 (application/json)

            {
                "Message": "The requested amount exceeds tactical withdrawal limit"
            }

+ Response 400 (application/json)

            {
                "Message": "The specified amount is invalid"
            }

+ Response 400 (application/json)

            {
                "Message": "Not a SAW customer"
            }

+ Response 424 (application/json)

            {
                "Message": "Customer Not Found"
            }
            
+ Response 500 (application/json)

            {
                "Message": "The latest version of PoPF is not signed off"
            }
            
+ Response 500 (application/json)

            {
                "Message": "Couldn't process the transaction. {System X} is unavailable."
            }

# Group Transactions

This API allows to get details of a particular transaction.

## Wallet Transactions [/transactions/{transactionId}]

### Get Wallet Transaction Status [GET]

**Allowed scopes**: `staffWalletGetTransactionStatus`

This endpoint provides transaction status and details based on the transaction ID supplied.
All `Details` fields are optional and will be provided only if available in the transaction log.

+ Parameters
    + transactionId: `000000001-001` (string, required)
    
+ Request (application/json)

    + Headers 
            
            Authorization: Bearer (client credentials token)
            X-Correlation-Token: 049651ef-2a37-4b13-88c8-4ebb4faa072e

+ Response 200 (application/json)

            {
                "Status": "Succeeded",
                "Details" : {
                    "RetailId": "12345678",
                    "DigitalId": 519490721066127360,
                    "TransferId": "ccef74ff-414a-4a65-b961-eccb245927f8"
                },
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/transactions/000000001-001",
                        "Method": "GET",
                        "AllowedScopes": [ "staffWalletGetTransactionStatus" ]
                    }
                }
            }
            
+ Response 200 (application/json)

            {
                "Status": "Undetermined",
                "Details" : {
                    "RetailId": "12345678",
                    "DigitalId": 519490721066127360,
                    "TransferId": "ccef74ff-414a-4a65-b961-eccb245927f8"
                },
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/transactions/000000001-001",
                        "Method": "GET",
                        "AllowedScopes": [ "staffWalletGetTransactionStatus" ]
                    }
                }
            }
            
+ Response 200 (application/json)

            {
                "Status": "Failed",
                "Details" : {
                    "RetailId": "12345678",
                    "DigitalId": 519490721066127360,
                    "TransferId": "ccef74ff-414a-4a65-b961-eccb245927f8"
                },
                "_Links": {
                    "Self": {
                        "Href": "http://dev01-resapi.rankgrouptech.net/transactions/000000001-001",
                        "Method": "GET",
                        "AllowedScopes": [ "staffWalletGetTransactionStatus" ]
                    }
                }
            }

+ Response 425 (application/json)

            {
                "Message": "Trasaction Not Found"
[...]
